body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial, Helvetica, sans-serif;
	background: #EFEFEF;
}

#page {
	/*margin-top: 5px;*/
	/*margin-bottom: 5px;*/
	background: white;
	/*border: 1px solid #C9E0ED;*/
	background: url("../images/HeaderBG.png") no-repeat;
	background-position: top center;
}

#header {
	margin: auto;
	width: 1000px;
	height: 412px;
	padding: 0;
}

#content {
	margin: auto;
	width: 960px;
	padding: 20px;
	/*z-index: 99;*/
	background: #FFF;
}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	background: #444;
}
#footer-container {
	width: 1000px;
	margin: auto;
}

#footer-copyright {
	/*width: 1000px;*/
	height: 40px;
	padding: 10px 10px 10px 100px;
	/*margin: 10px 20px;*/
	font-size: 0.8em;
	text-align: left;
	/*border-top: 1px solid #C9E0ED;*/
	color: #777;
	float: left;
}

#footer-menu {
	float: left;
	height: 40px;
}

#footer-menu ul {
	color: #EEE;
	padding: 6px 20px 0px 20px;
	margin: 0;
}

#footer-menu ul li {
	display: inline;
	padding: 18px;
	height: 40px;
	line-height: 40px;
}

#logo {
	background: url("../images/Logo.png") no-repeat;
	background-position: 10px 6px;
	width: 300px;
	height: 50px;
	float: left;
}

#mainmenu {
	float: left;
	line-height: 52px;
}

#mainmenu ul {
	padding: 6px 20px 0px 20px;
	margin: 0;
}

#mainmenu ul li {
	display: inline;
	padding: 18px;
	height: 59px;
}

#mainmenu ul li a {
	color: #ffffff;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
}

#mainmenu ul li.active {
	background: url("../images/HeaderActive.png") no-repeat;
	background-position: center bottom;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	color: #6399cd;
	text-decoration: none;
}

#slides {
	z-index: 999;
	height: 573px;
	background: url("../images/Slides.png") no-repeat;
	background-position: center center;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8a1f11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet {

}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: #EFFDFF;
}

.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}

.gallery-two-col {
	padding: 18px 18px 0 18px;
}

.gallery-item {
	padding: 10px;
	margin: 0 0 10px 0;
	width: 428px;
	height: 460px;
	/*float: left;*/
	border: solid 1px #CCC;

	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength = 4, Direction = 135, Color = '#333333');
}

.gallery-item-header {
	width: 416px;
	height: 58px;
	padding: 5px;
	background: url("../images/GalleryItemHeader.png");
	z-index: 999;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	line-height: 58px;
}

.gallery-item-footer {
	padding: 10px;
}

.clear {
	clear: both;
}

.faq-main {
	padding: 20px;
}

.faq-main-text {
	width: 500px;
	line-height: 1.5;
}

#celeb-footer {
	text-align: center;
	background: #EFEFEF;
	padding: 15px;
	margin-left: -20px;
	width: 1000px;
}

#pager-container {
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

.pager {
	list-style-type: none;
	position: relative;
	left: 50%;
	height: 35px;
	font-weight: bold;
}

.pager li {
	width: 31px;
	height: 35px;
	float: left;
	margin: 5px;
	line-height: 35px;
	text-align: center;
}

.page-number {
	background: url("../images/PageNr.png");
}

.pager li a {
	text-decoration: none;
	color: #555;
}

.pager li.page-number a {
	color: #FFF;
}

.pager-orange {
	color: orange;
}

#page-name {
	font-size: 10px;
	color: #DDD;
	margin: -10px 0 10px -10px;
}

.separator {
	border-bottom: dashed 1px #EEE;
}

.gallery-item-left {
	float: left;
}

.gallery-item-right {
	float: right;
}

#back-to-top {
	float: left;
	height: 50px;
	margin-top: 17px;
}