html,body {
	height:100%;
}

body {
	margin: 0;
	padding: 0;
	color: #888888;
	font: normal 10pt Arial, Helvetica, sans-serif;
	background: #EFEFEF;
}

a {
	text-decoration: none;
}

#container {
}

#topContainer {
	background: #0d2c5f;
}

#menuContainer {
	margin: auto;
	width: 1000px;
}

#logo {
	width: 301px;
	height: 60px;
	background: url("../images/logo.png") no-repeat;
	background-position: 16px center;
	float: left;
	cursor: pointer;
}

#menu {
	height: 60px;
	float: left;
}

#menu ul {
	padding: 22px 0 0 44px;
	margin: 0;
	height: 40px;
}

#menu ul li {
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
	padding: 0 25px 0 25px;
	height: 40px;
}

#menu ul li:hover {
	cursor: pointer;
	/*color: #ecb715;*/
}

#menu ul li.active {
	cursor: default;
	color: #ecb715;
}

#headerContainer {
	height: 370px;
	width: 100%;
	background: #183e76 url("../images/header.jpg") no-repeat;
	background-position: center -0px;
}

#characterContainer {
	margin: auto;
	/*width: 1600px;*/
	height: 370px;
	background: url("../images/header2.png") no-repeat;
	background-position: center -60px;
}

#character1 {
	float: left;
	margin: 0 0 0 20px;
}

#character2 img {
	float: right;
	margin: -30px -30px 0 0;
}

#main {
	margin: auto;
	width: 1000px;
	background: #FFFFFF;
	margin-top: -27px;
	z-index: 100;
}

#homeSeparator {
	height: 28px;
	background: url("../images/homeSeparator.png") no-repeat;
	background-position: 30px 21px;
}

#homeSeparator:hover {
	height: 28px;
	background: url("../images/homeSeparatorOver.png") no-repeat;
	background-position: 30px 21px;
}

#gallerySeparator {
	height: 28px;
	background: url("../images/gallerySeparator.png") no-repeat;
	background-position: 30px 21px;
}

#gallerySeparator:hover {
	height: 28px;
	background: url("../images/gallerySeparatorOver.png") no-repeat;
	background-position: 30px 21px;
}

#gallerySeparator2 {
	height: 28px;
	background: url("../images/gallerySeparator2.png") no-repeat;
	background-position: 54px 14px;
}

#gallerySeparator2:hover {
	height: 28px;
	background: url("../images/gallerySeparator2Over.png") no-repeat;
	background-position: 54px 14px;
}

#fNewsSeparator {
	height: 28px;
	background: url("../images/fNewsSeparator.png") no-repeat;
	background-position: 30px 21px;
}

#fNewsSeparator:hover {
	height: 28px;
	background: url("../images/fNewsSeparatorOver.png") no-repeat;
	background-position: 30px 21px;
}

#latestNewsSeparator {
	height: 28px;
	background: url("../images/latestNewsSeparator.jpg") no-repeat;
	background-position: 30px 21px;
}

#latestNewsSeparator:hover {
	height: 28px;
	background: url("../images/latestNewsSeparator-over.jpg") no-repeat;
	background-position: 30px 21px;
}

#mostPopularSeparator {
	height: 28px;
	background: url("../images/mostPopularSeparator.png") no-repeat;
	background-position: 30px 21px;
}

#mostPopularSeparator:hover {
	height: 28px;
	background: url("../images/mostPopularSeparatorOver.png") no-repeat;
	background-position: 30px 21px;
}

#mostPopularSeparator2 {
	height: 16px;
	background: url("../images/mostPopularSeparator2.png") no-repeat;
	background-position: 0px 0px;
}

#newsOtherSeparator {
	height: 28px;
	background: url("../images/newsOtherSeparator.png") no-repeat;
	background-position: 30px 21px;
}

#newsOtherSeparator:hover {
	height: 28px;
	background: url("../images/newsOtherSeparatorOver.png") no-repeat;
	background-position: 30px 21px;
}

#homeText {
	padding-left: 30px;
	width: 581px;
	color: #333333;
	float: left;
}

h1 {
	font-size: 42px;
}

#homeText p {
	color: #888888;
	line-height: 1.8;
	font-size: 16px;
	padding-left: 35px;
}

#homeTextSticker {
	float: right;
	width: 336px;
	height: 348px;
	background: url("../images/home-sticker.jpg") no-repeat;
	background-position-y: 10px;
}

#homeTextSticker:hover {
	background: url("../images/home-sticker-over.jpg") no-repeat;
	background-position-y: 10px;
}

#funnyNewsSticker {
	float: right;
	width: 300px;
	height: 250px;
	background: url("../images/fNewsAd.jpg") no-repeat;
	margin: 40px 36px 0 0;
}

#mustRead {
	padding-bottom: 5px;
}

#latestNews {
	/*padding-top: 12px;*/
}

#mustReadHeader, #mustReadHeaderHome {
	background: url("../images/breakingFunnyNewsHeader.jpg") no-repeat;
	height: 121px;
	background-position: center 5px;
}

#mustReadHeaderHome:hover {
	background: url("../images/breakingFunnyNewsHeader-over.jpg") no-repeat;
	background-position: center 5px;
}

#mustReadHeader:hover {
	background: url("../images/breakingFunnyNewsHeader2-over.jpg") no-repeat;
	background-position: center 5px;
}

#mustReadHeader span, #latestNewsHeader span, #latestNewsHeaderMore span, #mustReadHeaderHome span {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 26px;
	padding: 95px;
	line-height: 112px;
}

.mustReadImage {
	margin: 0 13px 0 57px;
	height: 200px;
	width: 200px;
	float: left;
}

.mustReadBody {
	float: left;
	width: 655px;
	font-size: 14px;
	padding-left: 15px;
}

.mustReadTitle {
	color: #173e75;
	font-size: 22px;
	font-weight: bold;
	padding: 8px 0 0 0;
}

/*.mustReadTitle:hover {*/
	/*color: #12c1dc;*/
/*}*/

.mustReadTitle2 {
	color: #444444;
	font-size: 22px;
	font-weight: bold;
	padding: 0 0 23px 0;
	cursor: pointer;
}

.mustReadTitle2:hover {
	color: #12c1dc;
}

.mustReadText {
	color: #888888;
	line-height: 2;
}

.mustReadText img {
	padding: 10px 0 10px 0;
}

.latestNewsImage {
	margin: 0 10px 0 74px;
	height: 200px;
	width: 200px;
	float: left;
}

.latestNewsRow a {
	color: #173e75;
	text-decoration: none;
	font-weight: bold;
}

.latestNewsRow a:hover {
	color: #12c1dc;
}

#mostPopular {
	padding: 20px 0 0 30px;
}

#galleryDetailsMain {
	padding: 20px 0 0 30px;
}

.galleryBigImage {
	float: left;
	/*padding-bottom: 10px;*/
}

#galleryDetailsContainer {
	float: left;
	padding: 0 30px 0 20px;
	width: 302px;
}

#galleryDetailsContainer #celebrity {
	font-size: 26px;
	font-weight: bold;
	color: #444444;
	text-transform: capitalize;
	padding: 4px 0 14px 0;
}

#galleryDetailsContainer #title {
	font-size: 35px;
	font-weight: bold;
	color: #ecb715;
	/*text-transform: capitalize;*/
	padding-bottom: 18px;
	line-height: 90%;
}

#galleryDetailsContainer #text {
	font-size: 13px;
	color: #888888;
	line-height: 1.8;
	padding-bottom: 30px;
	/*border-bottom: dashed 1px #dddddd;*/
}

#galleryDetailsContainer #details {
	padding-top: 26px;
	line-height: 1.5;
	padding-bottom: 32px;
	/*border-bottom: dashed 1px #dddddd;*/
}

#galleryDetailsContainer #details .span1 {
	color: #444444;
	font-size: 11px;
	font-weight: bold;
}

#galleryDetailsContainer #details .span2 {
	color: #0160a8;
	font-size: 11px;
	font-weight: bold;
}

.galleryLargeFrame {
	background: url('../images/frameLarge.jpg') no-repeat;
	width: 618px;
	height: 628px;
}

.galleryLargeFrame img {
	/*padding: 6px 8px 11px 8px;*/
	/*padding: 10px 10px 11px 10px;*/
	padding: 10px;
}

.mostPopularThumb {
	width: 296px;
	height: 274px;
	background: url("../images/mostPopularThumb.png") no-repeat;
	float: left;
	margin-left: 26px;
	cursor: pointer;
}

.mostPopularThumbFirst {
	margin-left: 0px;
}

#mostPopular img {
	padding: 13px;
	margin: -26px 181px;
}

.mostPopularImage {
	height: 221px;
	width: 295px;
	cursor: pointer;
}

.mostPopularTitle {
	color: #404040;
	font-weight: bold;
	font-size: 14px;
	padding: 8px 0 0 13px;
}

.mostPopularLink {
	color: #ecb715;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0 0 13px;
}

.mostPopularLinkOver {
	color: #0160A8;
}

#latestNewsHeader {
	background: url("../images/moreFunnyNewsHeader.jpg") no-repeat;
	height: 121px;
	/*background-position: top;*/
	background-position: center 5px;
}

#latestNewsHeader:hover {
	background: url("../images/moreFunnyNewsHeader-over.jpg") no-repeat;
	background-position: center 5px;
}

#latestNewsHeaderMore {
	background: url("../images/moreFunnyNewsHeader.jpg") no-repeat;
	height: 121px;
	background-position: top;
	background-position: center 5px;
}

#latestNewsHeaderMore:hover {
	background: url("../images/moreFunnyNewsHeader-over.jpg") no-repeat;
	background-position: center 5px;
}

.latestNewsRow {
	/*border-bottom: solid 2px #969699;*/
	padding: 17px 0 10px 0;
}

.newsDate {
	color: #979797;
}

#adsContainer {
	background: #EFEFEF;
	height: 124px;
}

#adsContainer img {
	padding: 17px 136px 17px 136px;
}

#newsOtherNextMonth {
	float: left;
	/*padding: 15px 0 40px 30px;*/
	width: 253px;
	height: 343px;
	background-image: url('../images/news50Cent.jpg');
	background-repeat: no-repeat;
	background-position: 30px 18px;
}

#newsOtherNextMonth:hover {
	background-image: url('../images/news50Cent-over.jpg');
	background-repeat: no-repeat;
	background-position: 30px 18px;
}

#newsOtherStatistics {
	float: left;
	padding: 20px 17px 40px 17px;
}

#newsOtherStatisticsSubtitle {
	color: #444444;
	font-weight: bold;
	font-size: 16px;
	width: 213px;
	padding: 8px 12px 0 12px;
}

#newsOtherStatisticsText {
	color: #999999;
	width: 213px;
	font-size: 11px;
	padding: 10px 12px 0 12px;
}

#tagContainer {
	width: 422px;
	height: 259px;
	overflow-y: auto;
	background: #eff1f2;
	float: left;
	color: #999999;
	font-size: 16px;
	padding: 12px;
	margin-top: 20px;
	line-height: 1.6;
	border: solid 1px #34a3f7;
}

#tagContainer a {
	color: #999999;
	text-decoration: none;
}

#tagContainer a:hover {
	color: #12c1dc;
}

#disclaimer {
	background: #EFEFEF;
	height: 25px;
	padding: 4px 0 5px 30px;
	color: #999999;
	font-size: 11px;
}

#footerContainer {
	background: #444444;
	height: 89px;
}

#footer {
	margin: auto;
	width: 1000px;
	color: #888888;
}

#footerMenu {
	float: left;
	padding-left: 24px;
}

#footerMenu ul {
	padding: 0 0 0 44px;
	margin: 0;
	height: 62px;
}

#footerMenu ul li {
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
	padding: 0 25px 0 25px;
	height: 62px;
	line-height: 62px;
}

#footerMenu ul li:hover {
	cursor: pointer;
	/*color: #ecb715;*/
	background: url('../images/strelica-footer.png') no-repeat;
	background-position: center 0;
}

#footerMenu ul li.activeFooter {
	cursor: default;
	color: #ecb715;
}

.footerStrelica {
	background: url('../images/strelica-footer.png') no-repeat;
	background-position: center 0;
}

#footer a {
	color: #888888;
}

#footer a:hover {
	color: #ecb715;
}

#copyright {
	float: left;
	padding: 16px 50px 0 31px;
	text-align: right
}

#arrowUp img {
	float: right;
	padding: 18px 29px 0 0;
}

#pager {
	text-align: center;
	padding: 20px;
	/*margin: auto;*/
}

#pagerContainer {
	display: inline-block;
	text-align: center;
}

.pagerField {
	width: 31px;
	height: 35px;
	line-height: 35px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	background: url('../images/uspravna-linija.jpg') no-repeat;
}

.pagerFieldActive {
	width: 31px;
	height: 35px;
	line-height: 35px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	background: url("../images/activePage.png");
	color: #FFFFFF;
	cursor: default;
}

.pagerField:hover {
	background: url('../images/strana-over.jpg');
	color: #FFFFFF;
}

.pagerFieldFirst {
	width: 31px;
	height: 35px;
	line-height: 35px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	background: url('../images/leva-strelica-neaktivna.jpg');
}

.pagerFieldFirst:hover {
	background: url('../images/leva-strelica-over.jpg');
}

.pagerFieldLast {
	width: 31px;
	height: 35px;
	line-height: 35px;
	float: left;
	cursor: pointer;
	font-weight: bold;
	background: url('../images/desna-strelica-neaktivna.jpg');
}

.pagerFieldLast:hover {
	background: url('../images/desna-strelica-over.jpg');
}

.pagerFieldSeparator {
	background: url('../images/uspravna-linija.jpg');
	width: 2px;
	height: 35px;
	float: left;
}

.clear {
	clear: both;
}

#commentsBox {
	padding: 17px 0 20px 0;
	float: left;
	text-align: left;
	width: 300px;
}

#cbTitle {
	padding: 18px 0 15px 0;
	font-size: 24px;
	font-weight: bold;
	color: #444444;
}

.comment {
	font-size: 11px;
	padding-bottom: 20px;
}

.cbCelebrity {
	color: #0160a8;
	font-weight: bold;
}

.comment .cbDate {
	font-weight: bold;
}

.comment .cbText {
	font-size: 12px;
	color: #888888;
}

#carousel img {
	/*border: solid 1px #dddddd;*/
	/*padding: 5px;*/
	/*width: 160px;*/
	/*margin-right: 5px;*/
}

.sectionLike {
	float: left;
	text-align: center;
	width: 193px;
	height: 50px;
	padding: 0 0 15px 0;
	background: url(../images/clickHereToLike.jpg) no-repeat;
	background-position: left;
	cursor: pointer;
}

.sectionLike:hover {
	background: url(../images/clickHereToLike-over.jpg) no-repeat;
	background-position: left;
}

.sectionLikeD {
	float: left;
	text-align: center;
	width: 183px;
	height: 50px;
	padding: 0 0 15px 0;
	margin-left: -7px;
	background: url(../images/you-have-liked-this.jpg) no-repeat;
	background-position: center;
	cursor: pointer;
}

#faqContainer {
	padding: 30px;
}

.faqQuestion {
	height: 493px;
	width: 455px;
	background: url(../images/faq_ram_za_fotke.jpg);
	float: left;
}

.faqQuestionRight {
	float: right;
}

.faqQuestion1 {
	padding: 15px 15px 10px 15px;
}

.faqQuestion3 {
	padding: 15px 15px 15px 15px;
}

.faqLike1 {
	padding: 0 81px 0 82px;
	height: 48px;
	background: url(../images/faq_like_01.jpg) no-repeat;
	background-position: center;
	cursor: pointer;
}

.faqLike1:hover {
	background: url(../images/faq_like_01-over.jpg) no-repeat;
	background-position: center;
}

.faqLike1Liked {
	padding: 0 81px 0 82px;
	height: 48px;
	background: url(../images/faq_like_01_liked.jpg) no-repeat;
	background-position: center;
}

.faqLikeBox1 {
	padding: 0 81px 0 82px;
	height: 48px;
	background: url(../images/faq_like_01_count.jpg) no-repeat;
	background-position: center;
	text-align: center;
}

.faqLikeBox1 span {
	color: #0160a8;
	line-height: 50px;
	font-size: 16px;
}

.faqLikeBox3 {
	height: 64px;
	background: url(../images/faq_like_03_count.jpg) no-repeat;
	background-position: center;
	text-align: center;
}

.faqLikeBox3 span {
	color: #0160a8;
	line-height: 60px;
	font-size: 16px;
	/*float: left;*/
}

.faqLike3 {
	padding: 0 15px 0 15px;
}

.faqLike3-1 {
	float: left;
	width: 112px;
	height: 64px;
	padding-left: 30px;
	background: url(../images/faq_like_03.jpg) no-repeat;
	background-position: center;
	cursor: pointer;
}

.faqLike3-1:hover  {
	background: url(../images/faq_like_03-over.jpg) no-repeat;
	background-position: center;
}

.faqLike3-1L-blank {
	float: left;
	width: 112px;
	height: 64px;
	padding-left: 30px;
	background: none;
	background-position: center;
}

.faqLike3-2 {
	float: left;
	width: 125px;
	height: 64px;
	padding-left: 16px;
	background: url(../images/faq_like_03.jpg) no-repeat;
	background-position: center;
	cursor: pointer;
}

.faqLike3-2L-blank {
	float: left;
	width: 125px;
	height: 64px;
	padding-left: 16px;
	background: none;
	background-position: center;
}

.faqLike3-3 {
	float: left;
	width: 126px;
	height: 64px;
	padding-left: 16px;
	background: url(../images/faq_like_03.jpg) no-repeat;
	background-position: center;
	cursor: pointer;
}

.faqLike3-3L-blank {
	float: left;
	width: 126px;
	height: 64px;
	padding-left: 16px;
	background: none;
	background-position: center;
}

.faqLike3-2:hover  {
	background: url(../images/faq_like_03-over.jpg) no-repeat;
	background-position: center;
}

.faqLike3-3:hover  {
	background: url(../images/faq_like_03-over.jpg) no-repeat;
	background-position: center;
}

.faqLikeD3 {
	background: url(../images/faq_likeD_03.jpg) no-repeat;
	background-position: right;
}

.faqLike {
	float: left;
	width: 142px;
}

.newsLike {
	padding: 0 81px 0 82px;
	height: 48px;
	background: url(../images/faq_like_news.jpg) no-repeat;
	background-position: center;
	cursor: pointer;
}

.newsLike:hover  {
	background: url(../images/faq_like_news-over.jpg) no-repeat;
	background-position: center;
}

.faqSeparator {
	height: 28px;
	background: url("../images/faq_isprekidana_linija.jpg") no-repeat;
	background-position: 0 12px;
}

#faqSeparator {
	height: 28px;
	background: url("../images/faqSeparator.jpg") no-repeat;
	background-position: 30px 21px;
}

#faqSeparator:hover {
	height: 28px;
	background: url("../images/faqSeparatorOver.jpg") no-repeat;
	background-position: 30px 21px;
}

.faqQuestionTitle {
	font-size: 23px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 36px 0 0 48px;
}

#faqCommentsBlock {
	padding: 0 0 0 30px;
}

#faqGuster {
	float: right;
	/*height: 374px;*/
}

#faqGuster img {
	/*padding-top: 82px;*/
	cursor: pointer;
	/*padding: 140px 80px 0 0;*/
}

.transparentCover {
	width: 269px;
	height: 195px;
	margin: 13px;
	position: absolute;
	z-index: 1;
	/*background: #0160A8;*/
	opacity: 0.8;
	display: none;
	background: url('../images/galleryView.png') no-repeat #0160A8;
	background-position: center center;
}

.galleryIsprekidane {
	height: 5px;
	background: url('../images/gallery_txt_isprekidane_linije.jpg') no-repeat;
}

.galleryIsprekidane:hover {
	height: 5px;
	background: url('../images/gallery_txt_isprekidane_linije-MouseOver.jpg') no-repeat;
}

.bull {
	float: right;
	width: 350px;
	height: 292px;
	background: url('../images/bik1.jpg') no-repeat;
	background-position: bottom;
}
.bull:hover {
	float: right;
	width: 350px;
	height: 292px;
	background: url('../images/bik2.jpg') no-repeat;
	background-position: bottom;
	cursor: pointer;
}

#contactForm {
	padding: 10px 0 0 0 ;
}

#contactForm div {
	padding-bottom: 20px;
}

#contactSeparator {
	height: 28px;
	background: url("../images/contactSeparator.jpg") no-repeat;
	background-position: 30px 21px;
}

#contactSeparator:hover {
	height: 28px;
	background: url("../images/contactSeparator-over.jpg") no-repeat;
	background-position: 30px 21px;
}

#contactBody {
	padding: 0 60px 60px 30px;
	width: 452px;
	height: 717px;
	color: #333333;
	float: left;
	background: url("../images/contactOkvir.jpg") no-repeat;
	background-position: 30px center;
}

#contactBody p {
	color: #888888;
	line-height: 1.8;
	font-size: 16px;
}

#contactImage {
	width: 458px;
	height: 797px;
	background: url("../images/contact.jpg") no-repeat;
	background-position: 0 225px;
	float: right;
}

#contactImage:hover {
	background: url("../images/contact-over.jpg") no-repeat;
	background-position: 0 225px;
}

.menuHomeActive {
	background: url("../images/strelica-home.png") no-repeat;
	background-position: center 30px;
}

.menuGalleryActive {
	background: url("../images/strelica-gallery.png") no-repeat;
	background-position: center 30px;
}

.menuFnewsActive {
	background: url("../images/strelica-fnews.png") no-repeat;
	background-position: center 30px;
}

.menuFaqActive {
	background: url("../images/strelica-faq.png") no-repeat;
	background-position: center 30px;
}

.menuContactActive {
	background: url("../images/strelica-contact.png") no-repeat;
	background-position: center 30px;
}

#galleryBigImage {
	position: absolute;
}

#galleryLayerPrevious {
	position: relative;
	top: 198px;
	left: 20px;
	cursor: pointer;
}

#galleryLayerNext {
	position: relative;
	top: 198px;
	left: 469px;
	cursor: pointer;
}

#galleryLayerNext:hover {

}

#txtComment {
	width: 292px;
	height: 80px;
}

#commentsFNewsContainer {
	float: left;
	padding: 0 20px 0 20px;
	height: 100%;
	width: 960px;
}

.sectionLikeBox {
	float: left;
	width: 82px;
	height: 49px;
	padding: 0 0 20px 0;
	background: url('../images/likesBox.jpg') no-repeat;
	background-position: -2px center;
	text-align: center;
}

.sectionLikeBox span {
	/*padding: 10px 10px 10px 28px;*/
	color: #0160a8;
	line-height: 66px;
	font-size: 16px;
	/*font-weight: bold;*/
}

#sectionShare {
	float: right;
	padding: 17px 0 10px 25px;
}

#privacyPolicyText {
	padding: 0 30px 0 30px;
	color: #333333;
	float: left;
}

#privacyPolicyText h2 {
	padding-left: 35px;
}

#privacyPolicyText p {
	color: #888888;
	line-height: 1.8;
	font-size: 16px;
	padding: 0 35px 0 35px;
}

#privacySeparator {
	height: 28px;
	background: url("../images/privacySeparator.jpg") no-repeat;
	background-position: 30px 21px;
}

#privacySeparator:hover {
	height: 28px;
	background: url("../images/privacySeparatorOver.jpg") no-repeat;
	background-position: 30px 21px;
}

#termsOfUseSeparator {
	height: 28px;
	background: url("../images/termsOfUseSeparator.jpg") no-repeat;
	background-position: 30px 21px;
}

#termsOfUseSeparator:hover {
	height: 28px;
	background: url("../images/termsOfUseSeparatorOver.jpg") no-repeat;
	background-position: 30px 21px;
}

.fbConnectBtn {
	padding: 6px 0 0 0;
}